body{
    font-family: Arial, serif;
    background-color: whitesmoke;
}

h1{
    color: blueviolet;
    text-align: center;
}

h2{
    color: darkmagenta;
}

/* version téléphone et tablette */
@media (max-width: 991px) {
    /* informations */
    .presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }
    /* photo de profil */
    .photo{
        margin-top: 1rem;
        border-radius: 10px;
        border-color: black;
        width: 15rem;

    }
    .photo img{
        border-radius: 9px;
    }

    .photo .card{
        background-color: black;
        border-radius: 10px;
    }
    
    /* contact */
    .contact{
        width: 15rem;
        margin-top: 1rem;
    }

    .contact button{
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 2px;
    }
    .contact a{
        text-decoration: none;
    }
    .contact .card{
        background-color: gainsboro;
        text-align: center;
    }
    .contact h3{
        font-weight:bold;
        color: darkmagenta;
    }
    .contact h4{
        font-size: medium;
    }
    .reseaux img{
        border-radius: 10px;
        width: 3em;
        margin-bottom: 5px;
    }

    /* experience */
    .parcours{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .experience{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15rem;
        margin-top: 1em;
    }
}

/* version ordinateur */
@media (min-width: 992px) {

    .presentation{
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }

    .photo{
        width: 20%;
        margin-right: 3rem;
    }
    .photo img{
        border-radius: 9px;
    }

    .photo .card{
        background-color: black;
        border-radius: 10px;
    }

    .contact{
        width: 20%;
    }
    .contact button{
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 2px;
    }
    .contact a{
        text-decoration: none;
    }
    .contact .card{
        text-align: center;
    }
    .contact h3{
        font-weight:bold;
        color: darkmagenta;
    }
    .contact h4{
        font-size: medium;
    }
    .reseaux img{
        border-radius: 10px;
        width: 3em;
        margin-bottom: 5px;
    }

    .parcours{
        align-items: center;
        margin-top: 2rem;
    }
    .parcours h3{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: darkmagenta;
    }

    .experience{
        width: 80%;
        margin-left: 10%;
    }


}